{% extends 'base.html.twig' %}

{% block title %}
  I Can Relate - Blog
{% endblock %}

{% block body %}
  <div class="container">
    <div class="mainTitle">
      <h1>Welcome to the blog<br>
      Interviews, fun facts and behind the scene</h1>
      <hr>
{% for post in posts %}
    <div class="row">
      <div class="span8 blog-title">
        <h4>
            <a href="#">{{post.title}}</a>
        </h4>
      </div>
    </div>
    <div class="row">
      <div class="span2">
        <a href="#" class="thumbnail about">
          <img src="https://loremflickr.com/640/360" alt="">
        </a>
        <hr>
      </div>
      <div class="span6 about">
        <p class="blogpost">
          {{post.introduction}}
        </p>
        <p>
          <a class="btn about" href="{{path('blog_show',{'id':post.id})}}">Read more</a>
        </p>
      </div>
    </div>
    <hr>
{% endfor %}
{% endblock %}
