{% extends 'base.html.twig' %}

{% block title %}
  I Can Relate - Choices
{% endblock %}

{% block body %}
  <div class="container">
    <div class="mainTitle">
      <h1>{{post.title}}</h1>
      <hr>
      <div class="row">
        <div class="span8">
          <div class="row">
            <div class="span8">
              <h4>
              </h4>
            </div>
          </div>
          <div class="row">
            <div class="span2">
              <a href="#" class="thumbnail about">
                <img src="http://placehold.it/260x180" alt="">
              </a>
            </div>
            <div class="about blogpost">
              <p>
                {{post.content}}
              </p>
              <hr>
            </div>
          </div>
          <div class="row about">
            </div>
          </div>
        </div>
      </div>
    {% endblock %}
