{% extends 'base.html.twig' %}

{% block title %}
  I Can Relate - Choices
{% endblock %}

{% block body %}
  <div class="container">
    <div class="mainTitle">
      <h1>{{post.title}}</h1>
      <hr>
      <div class="row">
        <div class="span8">
          <div class="row">
            <div class="span8">
              <h4>
              </h4>
            </div>
          </div>
          <div class="row">
            <div class="span2">
              <a href="#" class="thumbnail about">
                <img src="http://placehold.it/260x180" alt="">
              </a>
            </div>
            <div class="span6 about">
              <p>
                {{post.introduction}}
              </p>
              <p>
                <a class="btn about" href="">Read more</a>
              </p>
            </div>
          </div>
          <div class="row about">
            <div class="span8">
              <p></p>
              <p>
                <i class="icon-user"></i>
                by
                <a href="#">John</a>
                |
                <i class="icon-calendar"></i>
                Sept 16th, 2012 |
              </p>
            </div>
          </div>
        </div>
      </div>
    {% endblock %}
