{% extends './base.html.twig' %}

{% block title %}
Welcome to I Can Relate
{% endblock %}


{% block body %}
	<nav class="navbar navbar-expand-lg navbar-light bg-primary">


		<div class="container-fluid">
			<a class="navbar-brand" href="#">I Can Relate</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav">
					<li class="nav-item">
						<a class="nav-link active" aria-current="page" href="#">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{path('favoris')}}">Favoris</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{path('about')}}">About</a>

					</li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="container">
		<div>
			<h2 class="title" id="author">ABOUT</h2>
			<p class="lyrics" id="quote">I Can Relate is a website about sharing deep lyrics.</p>
		</br>
		<p class="lyrics">
			If you come here, it's for know who is behind. I Can Relate is a project of a music lover. I believe in the power of lyrics, to be connected with them. To help when we have nobody for us. A choice was made for serious topics, because I saw so many people find healing in these songs.	I really hope you will enjoy your experience in this website.
		</p>
	</div>
{% endblock %}
