{% extends './base.html.twig' %}
{% block title %}
I can relate - About
{% endblock %}
{% block body %}
	<div class="container">
		<div class="about">
			<h1>ABOUT</h1>
			<p>All lyrics are property and copyright of their owners.</p>
			<p>Contact: contact@icanrelate.me</p>
		</div>
{% endblock %}
