{% extends './base.html.twig' %}

{% block title %}
Welcome to I Can Relate
{% endblock %}
{% block body %}
	<div class="container">
		<div>
			<h2 class="title" id="author">ABOUT</h2>
			<p class="lyrics" id="quote">I Can Relate is a website about sharing deep lyrics.</p>
		</br>
		<p class="lyrics">
			Lorem ipsum dolor sit amet, consectetur Lorem ipsum dolor sit amet, consectetur Lorem ipsum dolor sit amet, consectetur Lorem ipsum dolor sit amet, consectetur Lorem ipsum dolor sit amet, consectetur Lorem ipsum dolor sit amet, consectetur Lorem ipsum dolor sit amet, consectetur
		</p>
		<p class="lyrics">
			Contact: contact@icanrelate.me
		</p>
	</div>
{% endblock %}
