{% extends './base.html.twig' %}

{% block title %}
Welcome to I Can Relate
{% endblock %}
{% block body %}
	<div class="container">
		<div>
			<h2 class="title" id="author">ABOUT</h2>
			<p class="lyrics" id="quote">I Can Relate is a website about sharing deep lyrics.</p>
		</br>
		<p class="lyrics">
			If you come here, it's for know who is behind. I Can Relate is a project of a music lover. I believe in the power of lyrics, to be connected with them. To help when we have nobody for us. A choice was made for serious topics, because I saw so many people find healing in these songs.	I really hope you will enjoy your experience in this website.
		</p>
		<p class="lyrics">
			Contact: fgdgdfg
		</p>
	</div>
{% endblock %}
