{% extends 'base.html.twig' %}

{% block title %}
  I Can Relate - Choices
{% endblock %}

{% block body %}
  <div class="container">
  <h1 class="mainTitle">Favoris</h1>
  <hr>
  <div>
      <h1 class="favoris"></h1>
      {% for post in posts %}
        {% if app.user and post.isLikedByUser(app.user) %}
          <h2 class="favoris">{{post.introduction|raw}}</h2>
          <p class="title">{{post.title}}</p>
          <div class="player">
            <iframe src="https://open.spotify.com/embed/track/{{post.content}}" width="100%" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
          </div>
          <div class="button-box">
            <a class="js-likes" href="{{path('like',{'id':post.id})}}">
              <button class="button--green--validate js-like" id="btn">
                I don't relate anymore
              </button>
            </a>
          </div>
        {% endif %}
      {% endfor %}
  </div>
</div>
{% endblock %}