{% extends './base.html.twig' %}

{% block title %}Welcome to I Can Relate
{% endblock %}


{% block body %}
	<!--- //TODO: meilleur placement pour le connexion, ajouter la page profil -->
	<nav class="navbar navbar-expand-lg navbar-light bg-primary">
		<div class="container-fluid">
			<a class="navbar-brand" href="#">I Can Relate</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">


				<ul class="navbar-nav">
					<li class="nav-item">
						{% if not is_granted('ROLE_USER') %}
							<a href="/login" class="nav-link">Connexion</a>
						{% else %}
							<a href="/logout" class="nav-link">Déconnexion</a>
						{% endif %}
					</li>
					<li class="nav-item">
						<a class="nav-link active" href="{{path('homepage')}}" aria-current="page" href="#">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{path('favoris')}}">Favoris</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{path('about')}}">About</a>

					</li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="container">
		<div>
			<h2 class="title" id="author"></h2>
			<p class="lyrics" id="quote"></p>
			<div class="links">
				<div class="spotify" id="spotify"></div>
				{% if not is_granted('ROLE_USER') %}
					<p id="login">If you want save your choice, you need to login first</p>
				{% else %}
					<div class="button-box">
						<button class="button--red" id="dontRelate" onclick="getNewQuote()">
							<a href="" class="btn btn-link js-likes">I don't Relate --skip--</a>
						</button>
						<button class="button--green" onclick="getNewQuote()">
							<a href="" id="link" class="btn btn-link js-likes">I Can Relate</a>
						</button>
					{% endif %}
				</div>
				<button class="button--green" onclick="getNewQuote()">Get a new quote</button>
			</div>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

	<script>
		function onClickBtnLike(event) {
event.preventDefault();
const url = this.href;
console.log(url);
axios.get(url).then(function (response) {
const likes = response.data;
console.log(likes);
spanCount.textContent = likes;
getNewQuote();
}).catch(function (error) {
if (error.response.status == 403) {
window.alert('Connectez-vous');

}
});
}

// Evenements & listeners
document.querySelectorAll('a.js-likes').forEach(function (link) {
link.addEventListener('click', onClickBtnLike);
})

document.addEventListener('DOMContentLoaded', function() {
  console.log('HTML prêt !');
  getNewQuote();
});
	</script>

	<script>
		// id of div & links
const text = document.getElementById("quote");
const author = document.getElementById("author");
const spotify = document.getElementById("spotify");
const link = document.getElementById("link");
const loginFirst = document.getElementById("login");

// api function
const getNewQuote = async () => {
let urlapi = "http://127.0.0.1:8000/api/posts";
const response = await fetch(urlapi);
const allQuotes = await response.json();
console.log(allQuotes);
// Generates a random number between 0 and the length of the quotes array
const index = Math.floor(Math.random() * allQuotes.length);

// Store the data
let quote = allQuotes[index].title;
let auth = allQuotes[index].introduction;
let spotifysong = allQuotes[index].content;
let likeSong = allQuotes[index].id

// Display the data
text.innerHTML = quote;
author.innerHTML = auth;
spotify.innerHTML = '<iframe src="https://open.spotify.com/embed/track/' + spotifysong + '?utm_source=generator&theme=0"  width="100%" height="80" frameborder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>';
// Display for the href attribute
document.getElementById("link").removeAttribute("href");
document.getElementById("link").setAttribute("href", "/post/" + likeSong + "/likes");
}
	</script>
{% endblock  %}
